<div class="postlist">
{% if posts.mostUsed or posts.moderatelyUsed or posts.leastUsed or posts.onHiatus %}
{% for post in posts.mostUsed %}
  {% include 'postdetails.html' %}
{% endfor %}
{% for post in posts.moderatelyUsed %}
  {% include 'postdetails.html' %}
{% endfor %}
{% for post in posts.leastUsed %}
  {% include 'postdetails.html' %}
{% endfor %}
{% for post in posts.onHiatus %}
  {% include 'postdetails.html' %}
{% endfor %}
{% else %}
  {% if ownprofile %}You have not added any accounts yet.
  {% else %}This user has not added any accounts yet.
  {% endif %}
{% endif %}

{% if ownprofile %}
<center><button class="submitbutton hvr-grow" id="newpostbutton"><span class="buttonleftfont oswald-font">Add a new account</span> <i class="fa fa-plus-circle fa-2x"></i></button></center>
{% endif %}
</div>
