{% for post in searcheduser.post_set.all %}
  <div class="post">
    <div class="post-img">
      <img src="/media/{{ post.logo }}">
    </div><div class="post-text">
      {% if post.has_url %}<a href="{{ post.url }}">{% endif %}
        <span class="post-floatleft post-siteusername">{{ post.siteusername }}</span>
      {% if post.has_url %}</a>{% endif %}
      <span class="post-floatright post-sitename">{{ post.sitename }}</span>
      <p>{{ post.description }}<br />
      {{ post.get_vis_display }}</p>
    </div>
    <div class="bottom">
    {% if ownprofile %}<button class="editpostbutton" id="{{post.id}}"></button>{% endif %}
    </div>
  </div>
{% endfor %}

{% if ownprofile %}
<center><button class="submitbutton" id="newpostbutton"><span class="buttonleftfont">Add a new account</span> <i class="fa fa-plus-circle fa-2x"></i></button></center>
{% endif %}
