{% include 'profiledetails.html '%}

  {% if not ownprofile and request.session.loggedin %}
    {% if connected %}
    <p><form action="{% url 'user:disconnect' searcheduser.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="connectbutton green hover-red" id="connectedbutton" {% if viewas %}disabled{% endif %}><i class="fa fa-check" aria-hidden="true"></i><span> Connected</span></button>
    </form></p>
    {% else %}
        {% if notif == 2 %}
        <p><form action="{% url 'user:newconnect' searcheduser.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="connectbutton orange hover-green"><i class="fa fa-check" aria-hidden="true"></i> Accept request</button>
        </form></p>
        {% elif notif == 1 %}
        <p><form action="{% url 'user:cancelnotif' searcheduser.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="connectbutton green hover-red" id="requestsentbutton"><i class="fa fa-check" aria-hidden="true"></i><span> Request sent</span></button>
        </form></p>
        {% else %}
        <p><form action="{% url 'user:newnotif' searcheduser.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="connectbutton orange hover-green" {% if viewas %}disabled{% endif %}><i class="fa fa-plus" aria-hidden="true"></i> Connect</button>
        </form></p>
        {% endif %}
    {% endif %}
  {% endif %}
</div>
