{% extends 'main/layout.html' %}

{% block title %}Connections {% endblock %}

{% block content %}
<div class="realcontent">
  <h1>Connections</h1>
  Connected users are able to see your public and reserved accounts.
  <br/><br/>
<div class="connectiondiv">
{% for c in connectedusers %}
  <div class="connection">
    <center><img src="/media/{{ c.connecteduser.profileImg }}" class="connectionimg"/></center>
    <a href="{% url 'user:search' c.connecteduser.id %}"><h2>{{ c.connecteduser.username }}</h2></a>
    <br/><span>{{ c.connecteduser_postcount }} account{{ c.connecteduser_postcount|pluralize }}</span>
    {% if c.connecteduser_sameposts %}
    <p>Both of you have accounts on:
    <br/><br/>
    {% for p in c.connecteduser_sameposts %}
      {% if p.has_url %}<a href="{{ p.url }}" class="hvr-grow">{% endif %}
        <img src="/media/{{ p.logo }}" class="connectionlogo"/>
      {% if p.has_url %}</a>{% endif %}
    {% endfor %}
    </p>
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock %}
