{% extends 'main/layout.html' %}

{% block title %}Settings page {% endblock %}

{% block css %}
    {% with searcheduser=user %}
    {% include 'profilecss.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
  <form action="{% url 'user:editbgimg' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="contentboxbg"></div>
    <input type="file" name="bgImg" class="bgimginput"/>
    <button type="submit">SUBMIT THE BG</button>
  </form>

<div class="realcontent">
  <form action="{% url 'user:editprofileimg' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <img src="/media/{{ user.profileImg }}" class="profileImg" />
    <input type="file" name="profileImg" class="profileImg profileimginput"/>
    <div class="contentboxdetails">
      <button type="submit">SUBMIT ME</button>
    </div>
  </form>
</div>
{% endblock %}
