{% extends 'main/layout.html' %}

{% block title %}Settings page {% endblock %}

{% block css %}
    {% with searcheduser=user %}
    {% include 'profilecss.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
<div class="contentboxbg"><div class="contentboxbgoverlay">
  <form action="{% url 'user:editbgimg' %}" method="post" enctype="multipart/form-data" class="bgimgform">
  {% csrf_token %}
    <input type="file" name="bgImg" class="bgimginput" id="bgimginput"/>
    <i class="fa fa-pencil fa-2x bgimginputicon" aria-hidden="true"></i>
    <button id="bgimginputbutton" class="connectbutton orange transparent" type="submit">Save background</button>
  </form>
  </div>
</div>

<div class="realcontent">
  <img src="/media/{{ user.profileImg }}" class="profileImg" id="contentprofileimg"/>
  <form action="{% url 'user:editprofileimg' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="profileimgouterdiv">
      <div class="profileimginputdiv profileimgrounded">
        <input type="file" name="profileImg" class="profileimginput profileimgrounded" id="profileimginput"/>
        <i class="fa fa-pencil fa-2x profileimginputicon" aria-hidden="true"></i>
      </div>
    </div>
    <div class="contentboxdetails">
      <button class="connectbutton orange transparent" id="profileimginputbutton" type="submit">Save profile image</button>
    </div>
  </form>
  <br/>
  Insert text here
</div>
{% endblock %}
