{% extends 'main/layout.html' %}

{% block title %}Customization {% endblock %}

{% block css %}
    {% with searcheduser=user %}
    {% include 'profilecss.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
<div class="contentboxbg"><div class="contentboxbgoverlay">
  <form action="{% url 'user:editbgimg' %}" method="post" enctype="multipart/form-data" class="bgimgform">
  {% csrf_token %}
    <input type="file" name="bgImg" class="bgimginput" id="bgimginput"/>
    <i class="fa fa-pencil fa-2x bgimginputicon" aria-hidden="true"></i>
    <button id="bgimginputbutton" class="connectbutton orange transparent hover-green" type="submit">Save background</button>
  </form>
  </div>
</div>
  <form action="{% url 'user:editprofileimg' %}" method="post" enctype="multipart/form-data" id="profileimgform">
  {% csrf_token %}
    <div class="profileimgouterdiv">
      <img src="/media/{{ user.profileImg }}" id="contentprofileimg"/>
      <div class="profileimginputdiv profileimgrounded">
        <input type="file" name="profileImg" class="profileimginput profileimgrounded" id="profileimginput"/>
        <i class="fa fa-pencil fa-2x profileimginputicon" aria-hidden="true"></i>
      </div>
    </div>
    <div class="contentboxdetails">
      <button class="connectbutton orange transparent hover-green" id="profileimginputbutton" type="submit">Save profile image</button>
    </div>
  </form>

<div class="realcontent">
  <h1>Customization</h1>
  Hover over your header or profile images to change them.
  <br/>The maximum upload size is 300KB for profile image and 1.5MB for header image.
</div>
{% endblock %}
