{% extends 'main/layout.html' %}

{% block title %}test title {% endblock %}

{% if user %}
    {% block js %}
    <script type="text/javascript">
	   $(document).ready(function() {
        $('.editpostbutton').click(function() {
          alert("clicked " + $(this).attr('id'));
          postid = $(this).attr('id');
          $.ajax({
              url: postid + '/newpostform',
              type: 'get',
              success: function(data) {
                  alert(data);
                  $('#postform').html(data);
                  $('#id_postid').val(postid);
              },
              failure: function(data) {
                  alert('Got an error dude');
              }
          });
        });
      });

    </script>
    {% endblock %}

    {% block css %}
    <style>
    .contentboxbg {
      width:100%;
    	height:200px;
      background:url('/media/{{ user.bgImg }}') no-repeat fixed center;
    }
    </style>
    {% endblock %}
{% endif %}

{% block content %}
  {% if user %}
    {% with searcheduser=user %}
    {% include 'profiledetails.html '%}
    {% endwith %}
    <div class="realcontent">
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      {% with searcheduser=user %}
      {% include 'postlist.html' %}
      {% endwith %}
    </div>

  {% endif %}
{% endblock %}
