{% extends 'main/layout.html' %}

{% block title %}test title {% endblock %}

{% if user %}

    {% block css %}
    {% with searcheduser=user %}
    {% include 'profilecss.html' %}
    {% endwith %}
    {% endblock %}
{% endif %}

{% block outsidecontent %}{% include 'postlistform.html' %}{% endblock %}

{% block content %}
  {% if user %}
    {% with searcheduser=user %}
    {% include 'profiledetails.html '%}
    </div>
    {% endwith %}
    <div class="realcontent">
      {% if error_message %}<p class="error-message">{{ error_message }}</p>{% endif %}
      {% with searcheduser=user %}
      {% include 'postlist.html' %}
      {% endwith %}
    </div>

  {% endif %}
{% endblock %}
