{% extends 'main/layout.html' %}

{% block title %}Notifications {% endblock %}

{% block content %}
<div class="realcontent">
  <h1>Notifications</h1>
{% if notifs %}
{% for notif in notifs %}
    <div class="notif">
    {% if notif.fromuser == request.session.login_id %}
    <img src="/media/{{ notif.to_user_profileimg }}" />
        {% if notif.is_accepted %}
            You are now connected with <a href="{% url 'user:search' notif.touser %}">{{ notif.to_username }}</a>
        {{ notif.display_from_self }}
        {% endif %}
        <br/><span>{{ notif.notif_date }}</span>
    {% else %}
    <img src="/media/{{ notif.from_user_profileimg }}" />
        {% if notif.is_accepted %}
            You have accepted <a href="{% url 'user:search' notif.fromuser %}">{{ notif.from_username }}</a>'s connection request.
        {% else %}
            <a href="{% url 'user:search' notif.fromuser %}">{{ notif.from_username }}</a> has sent you a connection request.
        {% endif %}
        <br/><span>{{ notif.notif_date }}</span>
    {% endif %}
    </div>
{% endfor %}
{% else %}
  <p class="message">You do not have any notifications yet.</p>
{% endif %}
</div>

{% endblock %}
