{% extends 'main/layout.html' %}

{% block title %}Notifications {% endblock %}

{% block js %}
<script>
$.ajax({
    url: '/user/readnotifs',
    type: 'get',
    success: function(data) {
        //alert(data);
    },
    failure: function(data) {
        alert('Got an error dude');
    }
});
</script>
{% endblock %}

{% block content %}
<div class="realcontent">
  <h1>Notifications</h1>
  Notifications will appear in your inbox when a user sends you a connection request, or when a user has acceted your connection request.
  <br/><br/>
  {% if toread or readnotifs %}
    {% if toread %}
      {% with notifs=toread class='toread' %}
        {% include 'user/notifdetails.html' %}
      {% endwith %}
    {% endif %}
    {% with notifs=readnotifs class='readnotifs' %}
      {% include 'user/notifdetails.html' %}
    {% endwith %}
  {% else %}
  <p class="message">You do not have any notifications yet.</p>
  {% endif %}
</div>

{% endblock %}
