{% extends 'main/layout.html' %}

{% block title %}Connections {% endblock %}

{% block content %}
<div class="realcontent">
  <h1>User not found</h1>
  Sorry, the user you have searched for does not exist.
  <br/><br/>
  <form action="{% url 'user:searchuser' %}" method="get" class="styledform">
    <table><tr><td><input type="text" name="user_name" placeholder="Enter username to search" /></td><td><button class="fa fa-search fa-2x submitbutton hvr-grow" type="submit"></button></td></tr></table>
  </form>
</div>
{% endblock %}
