{% extends 'main/layout.html' %}

{% block title %}{{ searcheduser.username }}'s profile {% endblock %}

{% if ownprofile %}
{% block outsidecontent %}{% include 'postlistform.html' %}{% endblock %}
{% endif %}

{% block css %}
  {% include 'profilecss.html' %}
{% endblock %}

{% block content %}

    {% include 'profilesearch.html '%}

    <div class="realcontent">
    {% if not request.session.loggedin and searcheduser.vis == 0 %}
        This user's account is private.
    {% elif not connected and searcheduser.vis == 0 %}
        This user's account is only visible to connected users.
    {% else %}
      {% include 'postlist.html' %}
    {% endif %}
    </div>

{% endblock %}
