{% extends 'main/layout.html' %}

{% block title %}{{ searcheduser.username }}'s profile {% endblock %}

{% block outsidecontent %}{% include 'postlistform.html' %}{% endblock %}

{% block css %}
  <style>
  .contentboxbg {
    width:100%;
    height:200px;
    background:url('/media/{{ searcheduser.bgImg }}') no-repeat fixed center;
  }
  </style>
{% endblock %}

{% block content %}

  {% if user %}
    {% include 'profilesearch.html '%}

    <div class="realcontent">
    {% include 'postlist.html' %}
    </div>
  {% else %}
    <p>In search</p>
  {% endif %}

{% endblock %}
