{% extends 'main/layout.html' %}

{% block title %}Settings page {% endblock %}

{% block content %}
<div class="realcontent">
<h1>Settings</h1>
<p><a href="{% url 'user:customize' %}">Click here</a> to customize your profile picture and header image.</p>
{% if error_message %} <p class="error-message">{{ error_message }}</p>{% endif %}
<form action="{% url 'user:editsettings' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="styledform"><table>{{ form.as_table }}</table></div>
    <br />
    <center><button class="fa fa-check-circle fa-3x submitbutton" type="submit"></button></center>
</form>
</div>
{% endblock %}
