{% extends 'main/layout.html' %}

{% block title %}Settings {% endblock %}

{% block content %}
<div class="realcontent">
<h1>Settings</h1>
<span class="realcontentlinks">
<a href="{% url 'user:customize' %}" class="hvr-grow">Customize profile <i class="fa fa-picture-o" aria-hidden="true"></i></a>
<a href="{% url 'user:custom' %}" class="hvr-grow">Generate widgets <i class="fa fa-code" aria-hidden="true"></i></a></span>
<p>Changing your account visibility to private will automatically make all your information only visible to connected users and yourself.</p>
{% if error_message %} <p class="error-message">{{ error_message }}</p>{% endif %}
{% if message %} <p class="message">{{ message }}</p>{% endif %}
<form action="{% url 'user:editsettings' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="styledform"><table>{{ form.as_table }}</table></div>
    <p>Enter your old password in order to edit your settings.</p>
    <br />
    <center><button class="fa fa-check-circle fa-3x submitbutton hvr-grow" type="submit"></button></center>
</form>
</div>
{% endblock %}
