<!--
This renders the request to display connected users who have are using the same site domains when the user enters a sitename on the add/edit account form. Requested using AJAX and rendered on postlistform as a small section
-->

{% if connectedusers %}
  {% for c in connectedusers %}
  <img src="/media/{{ c.profileImg }}"/>
  {% endfor %}

  {% if count == -4 %}
    {% for c in connectedusers %}
     {{ c.username }} is using {{ sitename }}.
    {% endfor %}
  {% elif count > 0 %}
    {% for c in connectedusers %}
      {% if forloop.first %}{{ c.username }}
      {% else %}, {{ c.username }}
      {% endif %}
    {% endfor %} and {{ count }} other users are using {{ sitename }}.
  {% else %}
    {% for c in connectedusers %}
      {% if forloop.first %}{{ c.username }}
      {% elif not forloop.last %}
        , {{ c.username }}{% else %} and {{ c.username }}
      {% endif %}
    {% endfor %} are using {{ sitename }}.
  {% endif %}
{% endif %}
