@import url(https://fonts.googleapis.com/css?family=Oxygen:300);
@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body {
	width:100%;
	height:100%;
}

body {
	background-color:#434548;
	color: #222;
	line-height: 1.6;
	font-family: 'Oxygen', calibri, sans-serif;
	margin:0px;
}

a {
	color: #50d4d9;
	text-decoration:none;
	border:none;
}

a:hover {
	color: #000;
}

.content {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.footer {
	color:#fff;
  background:rgba(0, 0, 0, 0.7);
  border-radius: 20px 20px 0px 0px;
	padding: 20px;
	min-height:50px;
	position:relative;
	overflow:hidden;
}

.header {
	color:#fff;
  background:rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 20px 20px;
	padding: 0px;
	margin-bottom:20px;
	min-height:90px;
	position:relative;
	overflow:hidden;
}

.header-links {
	font-size:0.9em;
}

.link-margin-right {
	margin-right:10px;
}

.link-margin-left {
	margin-left:10px;
}

.header a:hover {
	color:#fff;
}

.header-leftbar {
	padding:20px;
}

.header-leftbar .profileImg {
	border: 4px solid #fff;
	border-radius:100%;
	vertical-align:text-top;
	margin-right:10px;
	height:50px;
	width:50px;
	float:left;
}

.header-leftbar .greeting {
	font-size:1.5em;
	line-height:1em;
	font-family: 'Oswald', Georgia, serif;
}

.header-rightbar {
	position:absolute;
	right:0px;
	top:0px;
	text-align:right;
	padding:20px;
}

.header-rightbar form {
	margin-bottom:3px;
}

.header-rightbar form input[type="text"] {
	color:#fff;
	font-size:1em;
	font-family: 'Oxygen', calibri, sans-serif;
	background-color:transparent;
	border:none;
	border-bottom:1px solid #d4d6d8;
}

.header-rightbar form input[type="text"]:focus{
	border-bottom:1px solid #50d4d9;
}

.contentbox {
  background-color: #fff;
  border-radius: 20px;
	overflow:hidden;
	min-height:300px;
	margin-bottom:50px; /* footer height */
}

.contentbox .profileImg {
	border: 6px solid #fff;
	border-radius:100%;
	height:170px;
	width:170px;
	position:absolute;
	top:240px;
	margin-left:50px;
}

.contentboxdetails {
	margin-left:250px;
	line-height:1em;
	min-height:70px;
	position:relative;
}

.contentboxdetails h1 {
	display:inline-block;
	margin-right:10px;
}

.contentboxdetails span {
	color:#777;
}

.contentboxdetails .viewas {
	position:absolute;
	top:0px;
	right:0px;
	margin-right:10px;
	font-size:0.8em;
	text-align:right;
}

.contentboxdetails .viewas a {
	display: block;
}

.contentboxdetails .viewas button {
	margin-bottom:5px;
}

.realcontent {
	padding: 30px 50px;
}

.realcontent .title {
	font-size:2.5em;
	line-height:1em;
	color:#777;
}

.mainbox {
	width:80%;
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	padding-bottom:0px;
	border-bottom:1px solid #777;
	color: #fff;
}

.maintitle {
	font-family: 'Lobster Two', cursive, sans-serif;
  text-shadow: 3px 3px rgba(200,200,200,0.2);
	line-height:1em;
}

.mainbox .submitbutton {
	color:#50d4d9;
}

.mainbox .submitbutton:hover, .mainbox a:hover {
	color:#fff;
}

.leftbox {
	vertical-align: middle;
}

.realcontentlinks a {
	color:orange;
	margin-right:30px;
}

.realcontentlinks a:hover {
	color:#000;
}

.loggedinbox {
	border-radius:20px;
	background-color:#e4e4e4;
	width:100%;
	position:relative;
	min-height:230px;
	padding:30px 50px;
	line-height:1em;
	margin-bottom:50px;
	text-align: left;
}

.loggedinbox img {
	float:left;
	vertical-align: middle;
	border: 4px solid #fff;
	border-radius:100%;
	margin-right:10px;
	height:170px;
	width:170px;
}

.loggedinbox h1 {
	font-family: 'Oswald', Georgia, serif;
	color:#000;
	display:inline-block;
}

.loggedinbox p a {
	font-family: 'Oswald', Georgia, serif;
	font-size:1.5em;
	color:orange;
}

.loggedinbox p a:hover {
	font-size:1.5em;
	color:#000;
}

.logoutbox a {
	text-align:center;
	font-family: 'Oswald', Georgia, serif;
	font-size:2em;
}

.grey-text {
	color:#777;
}

.orange-text {
	color:orange;
}

.realcontent h1 {
	font-family: 'Oswald', Georgia, serif;
	color: #222;
}

.realcontent h2 {
	font-family: 'Oswald', Georgia, serif;
	line-height:1em;
}

.realcontent section {
	margin-bottom:40px;
}

.postborder {
	width:220px;
	display:inline-block;
	line-height:0.7em;
	margin-bottom:10px;
}

.postborder .post-bottomtext {
	margin:0px;
	font-size:0.7em;
	color:#777;
	padding:2px;
}

.postborder .post-bottomtext .post-postdate {
	display:inline-block;
}

.post-bottomright {
	margin-right:5px;
	position:relative;
	color:#777;
}

.post-bottomright:hover {
	cursor:pointer;
}

.post-bottomright-text {
	font-size:0.7em;
	color:#777;
	display:inline-block;
	margin-right:5px;
}

.post {
	background-color:#e4e4e4;
	color:#000;
	width:220px;
	padding:10px;
	margin-right:2px;
	line-height:1em;
	display:inline-block;
	position:relative;
}

.post img {
	width:50px;
	height:50px;
}

.post-img {
	width:55px;
	height:50px;
	padding-right:5px;
	display:inline-block;
	vertical-align: middle;
}

.post-text {
	width:145px;
	display:inline-block;
	vertical-align: middle;
}

.post-text-header {
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid #777;
}

.post-floatleft {
	float:left;
}

.post-floatright {
	float:right;
}

.post-siteusername {
	font-family: 'Oswald', Georgia, serif;
	font-size:1.2em;
	font-weight:500;
}

a .post-siteusername {
	color:orange;
}

a .post-siteusername:hover {
	color:#50d4d9;
}

.post-sitename {
	font-family: 'Oswald', Georgia, serif;
	font-size:1em;
	margin-left:3px;
	color:#777;
}

.post p {
	clear:both;
	font-size:0.8em;
	margin-top:2px;
}

.post .bottom {
	right:2px;
	bottom:2px;
	position:absolute;
}

.bottom form {
	display:inline-block;
	margin:0px;
}

.post .editpostbutton, .post .deletepostbutton {
	opacity:0.3;
	border:0px;
	background-color:transparent;
	padding:0px;
	/*
	background: url('/media/icon/editbutton.png');
	background-size: 15px 15px;
	background-repeat:no-repeat;
	width: 15px;
	height: 15px;
	*/
}

.post .editpostbutton:hover, .post .deletepostbutton:hover, .postformheader #closebutton:hover {
	cursor:pointer;
}

.post .editpostbutton:hover, .post .deletepostbutton:hover {
	opacity:0.5;
}

.postform {
	position:relative;
	width:60%;
	top:20px;
	background-color: #fff;
	border-radius: 20px;
	z-index:10;
	margin:auto;
}

.postformheader {
	width:100%;
	padding: 0px 20px;
	border-bottom:1px solid #ddd;
	position:relative;
	margin-bottom:10px;
}

.postformheader h1 {
	display:inline-block;
	line-height:1em;
	font-size:1.2em;
}

.postformheader #closebutton {
	position:absolute;
	right:10px;
	bottom:10px;
	border:0px;
	font-size:1em;
	background:transparent;
	color:#ddd;
	text-decoration:underline;
}

.postform form {
	width:100%;
	padding:0px 20px 20px 20px;
}

.optiondiv {
	background-color:red;
}

.optioncount {
	position:absolute;
}

#theform table, .styledform table {
	width:100%;
}

th {
	font-weight: 100;
	text-align:left;
}

.sitename-selection {
	width:99%;
	position:absolute;
	background-color:#fff;
	font-size:0.8em;
	line-height:1em;
	padding:5px;
	display:block;
	z-index:15;
	text-align:right;
	color:#ababab;
	border-left:1px solid #ababab;
	border-right:1px solid #ababab;
}

.sitename-selection span {
	color:#000;
	float:left;
}

.sitename-selection:hover {
	color:#000;
	background-color:#50d4d9;
	cursor:pointer;
}

#theform input:not([type="radio"]), .styledform input:not([type="radio"]) {
	width:100%;
	border:0px;
	background-color:#e4e4e4;
	padding:5px;
	font-family: 'Oxygen', calibri, sans-serif;
}

#theform select, .styledform select {
	border:0px;
}

#theform ul, .styledform ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
	text-align:left;
}
#theform li, .styledform li {
	display:inline-block;
	font-size:0.8em;
}

#theform .radiobutton, .styledform .radiobutton {
}

#id_vis label[for="id_vis_0"] {
}

#id_vis label:hover, #id_usage label:hover {
	cursor:pointer;
	font-weight:bold;
}

.styledform input {
	padding:10px;
	font-size:1em;
}

#sitename-find {
	padding:5px 0px;
}

#sitename-find img {
	border: 4px solid #ddd;
	border-radius:100%;
	vertical-align:middle;
	margin-right:2px;
	height:50px;
	width:50px;
}

.submitbutton {
	margin-top:10px;
	background-color:transparent;
	border:0px;
}

.submitbutton:hover {
	cursor:pointer;
	color:#50d4d9;
}

.connectbutton {
	font-family: 'Oxygen', calibri, sans-serif;
	border:0px;
	border-radius:20px;
	padding:5px 10px;
	font-size:1em;
	color:#000;
}

.connectbutton span {
	color:#000;
}

.orange {
	background-color:orange;
}

.hover-red:hover {
	background-color:#EA3C53;
}

.hover-green:hover {
	background-color:#50d4d9;
}

.green {
	background-color:#50d4d9;
}

.white-search {
	padding:0px;
	color:#fff;
}

.connectbutton:hover {
	cursor:pointer;
	color:#fff;
}

.connectbutton:hover span{
	color:#fff;
}

#overlay {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:5;
}

.overlay-black {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000;
	z-index:6;
	opacity:0.5;
}

.hidden {
	display:none;
}

.transparent {
	opacity:0;
}

.error-message {
	font-size:1em;
	padding:20px;
	background-color: #f2dddd;
	border-radius: 20px;
}

.postform .error-message {
	padding:10px 20px;
	margin-left:10px;
	margin-right:10px;
}

.message {
	font-size:1em;
	padding:20px;
	background-color: #f7eed6;
	border-radius: 20px;
}

.errorlist {
	padding:0px;
	margin:0px;
	list-style-type:none;
	color:red;
	font-size:0.8em;
	display:inline-block;
}

.buttonleftfont {
	font-size:2em;
	margin-right:5px;
	margin-top:10px;
}

.bgimgform {
	position:relative;
}

.bgimginput {
	width:100%;
	height:200px;
	cursor:pointer;
	opacity:0;
	z-index:3;
}

.contentboxbgoverlay {
	transition: background-color 0.5s ease;
	width:100%;
	height:200px;
}

.bgimginputicon {
	position:absolute;
	top:20px;
	left:20px;
	color:#fff;
	opacity:0;
	z-index:2;
}

#bgimginputbutton {
	position:absolute;
	top:25px;
	left:60px;
	z-index:3;
}

.profileimgrounded {
	border-radius:100%;
	height:170px;
	width:170px;
}

.profileimgouterdiv {
	height:170px;
	width:170px;
	position:absolute;
	top:240px;
	margin-left:50px;
}

.profileimgouterdiv #contentprofileimg {
	border: 6px solid #fff;
	border-radius:100%;
	height:170px;
	width:170px;
	position:absolute;
}

.profileimginputdiv {
	transition: background-color 0.5s ease;
	border: 6px solid #fff;
	position:relative;
	text-align:center;
	line-height:170px;
	vertical-align: text-bottom;
}

.profileimginput {
	position:absolute;
	top:0px;
	left:0px;
	cursor:pointer;
	opacity:0;
	z-index:10;
}

.profileimginputicon {
	color:#fff;
	opacity:0;
	z-index:9;
	margin-bottom:0px;
}

#profileimginputbutton {
	margin-top:20px;
}

.customchoicebox {
	padding:10px;
	min-height:70px;
	text-align:left;
	vertical-align: middle;
	margin-bottom:5px;
}
.customchoicebox img {
	display:inline-block;
	vertical-align: middle;
	margin:0px 5px;
}

.customchoicebox input {
	display:inline-block;
	vertical-align: middle;
}

.customchoicebox div {
	display:inline-block;
	max-width:118px;
	vertical-align: middle;
}

.customchoicebox .post-sitename {
	font-size:0.8em;
}

.customchoicebox .post-bottomright {
	position:static;
	display:block;
	margin-top:5px;
}

.customchoicebox .post-bottomright .post-bottomright-text {
	margin-left:5px;
}

#customwidgets div {
	display:inline-block;
}

.customwidgetbox {
	border:1px solid #e4e4e4;
	width:100%;
	text-align:center;
	vertical-align: top;
}

.customwidgetcol {
	padding:20px;
	display:inline-block;
	text-align:left;
	width:50%;
	height:100%;
	margin:0px;
	vertical-align:text-top;
}

.customwidgetcol textarea {
	width:100%;
	border:0px;
	border: 1px solid #e4e4e4;
	font-size:0.9em;
	padding:10px;
	font-family:calibri, sans-serif;
	color:#777;
	resize:none;
	overflow:hidden;
	width:100%;
	min-height:100px;
}

.oxygen-font {
	font-family: 'Oxygen', calibri, sans-serif;
}

.oswald-font {
	font-family: 'Oswald', Georgia, serif;
}

.notif {
	border-radius:20px;
	background-color:#e4e4e4;
	width:100%;
	position:relative;
	min-height:100px;
	padding:20px;
	line-height:1em;
	margin-bottom:10px;
}

.toread {
	background-color: #f7eed6;
}

.readnotifs {
	background-color: #e4e4e4;
}

.notif img {
	float:left;
	vertical-align: middle;
	border: 4px solid #fff;
	border-radius:100%;
	margin-right:10px;
	height:60px;
	width:60px;
}

.notif span, .connection span {
	font-size:0.7em;
	color:#777;
	display:inline-block;
}

.notif a {
	color:orange;
	font-weight:700;
}

.notif a:hover{
	color:#50d4d9;
}

.connection {
	border-radius:20px;
	background-color:#e4e4e4;
	width:30%;
	min-width:140px;
	position:relative;
	min-height:200px;
	padding:20px;
	line-height:1em;
	text-align:center;
	margin-bottom:10px;
	display:inline-block;
	margin:5px;
	vertical-align: text-top;
}

.connection .connectionimg {
	border: 4px solid #fff;
	border-radius:100%;
	height:100px;
	width:100px;
	display:block;
}

.connection h2 {
	font-size:1.5em;
	line-height: 1em;
	margin:0px;
	color:orange;
	display:inline-block;
}

.connection h2:hover {
	color:#50d4d9;
}

.connection .connectionlogo {
	height:30px;
	width:30px;
}

.connection p {
	font-size:0.8em;
}

.viewas-footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	min-height:50px;
	font-size:0.9em;
	color:#fff;
	background-color: rgba(0,0,0,0.7);
	text-align:center;
	padding:20px 50px;
	z-index:5;
}

.viewas-footer a {
	color:orange;
}

.viewas-footer a:hover {
	color:#000;
}

/******* MEDIA QUERIES ******/
@media screen and (max-width:900px) {
	.content {
		width:90%;
		margin-left:auto;
		margin-right:auto;
		padding: 0px 10px;
	}

	.loggedinbox {
		text-align:center;
		line-height:1em;
	}

	.loggedinbox img {
		float:none;
		margin-bottom:10px;
		height:90px;
		width:90px;
	}

	.realcontent {
		padding:20px 20px;
	}

	.link-margin-right {
		margin-right:5px;
	}

	.link-margin-left {
		margin-left:5px;
	}

	.postform {
		width:80%;
	}

	.postlist {
		margin-top:20px;
	}

	.connection {
		width:30%;
	}

	.contentboxdetails .viewas {
		position:relative;
		margin-right:10px;
		font-size:0.8em;
		text-align:left;
	}
	.contentboxdetails .viewas a {
		display:inline-block;
	}

}

@media screen and (max-width:600px) {
	body {
		width:100%;
		margin-left:0px;
		margin-right:0px;
	}

	.mainbox {
		width:100%;
	}

	.content {
		padding:0px;
		width:100%;
	}

	.header, .contentbox {
		border-radius:0px;
	}

	.header-leftbar {
		padding: 20px 20px 0px 20px
	}

	.header-rightbar {
		position:relative;
		text-align:left;
	}

	.link-margin-right {
		margin-right:10px;
	}

	.link-margin-left {
		margin-left:10px;
	}

	.contentbox {
		text-align:center;
	}

	.contentbox .profileImg, .profileimgouterdiv {
		margin:0px;
		position:relative;
		top:-80px;
	}
	.contentboxdetails .viewas {
		text-align:center;
	}

	.contentboxdetails .viewas a {
		display:block;
	}

	.postform {
		height:90%;
	}

	.postform form {
		font-size:0.8em;
		overflow-y:scroll;
		height:85%;
	}

	.profileimgouterdiv {
		display:inline-block;
	}

	#profileimgform {
		width:100%;
		height:50px;
		padding:0px;
		text-align:center;
	}

	.profileimgouterdiv img {
		margin:0px;
		position:relative;
	}

	.profileimginputdiv {
		top:0px;
		left:0px;
		position:absolute;
	}

	#profileimginputbutton {
		margin-top:10px;
	}

	.contentboxdetails {
		position:relative;
		top:-80px;
		display:block;
		margin:0px;
		line-height:1em;
		min-height:0px;
	}

	.contentboxdetails h1 {
		line-height:1em;
		display:inline-block;
		margin:0px;
	}

	.contentboxdetails span {
		margin-left:10px;
		color:#777;
	}

	.realcontent {
		position:relative;
		text-align:left;
	}

	.postlist {
		position:relative;
		top:-80px;
	}

	.postform {
		width:90%;
	}

	.connection {
		min-width:170px;
	}

	.connectiondiv {
		text-align:center;
	}

	.customizecontent {
		position:relative;
		top:50px;
		margin-bottom:50px;
	}

	.customwidgetcol {
		display:block;
		width:100%;
	}
}
