{% extends 'main/layoutmain.html' %}

{% block title %}Main page {% endblock %}

{% block css %}

<style>
body {
  overflow:hidden;
  background-image:url('/media/{% if user %}{{ user.bgImg }}{% else %}bg/default.jpg{% endif %}');
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-origin:center;
  border:1px solid #000;
}

.content {
  margin-top:5%;
  text-align:center;
  z-index:10;
}

.loggedinbox {
  display:inline-block;
  width:80%;
  border-radius:20px;
  background-color: rgba(228,228,228,0.9);
  margin-bottom:0px;
}

@media screen and (max-width:600px) {
  .mainbox {
    font-size:0.8em;
  }
  .loggedinbox p {
    margin:0px;
  }

  .loggedinbox {
    border-radius:0px;
    width:100%;
  }
}
</style>
{% endblock %}

{% block outsidecontent %}
<div class="overlay">
  <div class="overlay-black"></div>
    <div class="content animated fadeInUp">
      {% if request.session.loggedin %}
        {% include 'main/loggedinbox.html' %}
      {% else %}
        <div class="mainbox">
          <h1 class="maintitle">Cobweb</h1>
          <p>Connect with others through your many web accounts.</p>
        </div>
      <div class="mainbox">
        <!-- duplicated codes-->
          <form action="{% url 'main:newuser' %}" method="post">
          {% csrf_token %}
          <div class="styledform">
          <table>{{ form.as_table }}</table>
          </div>
          <center><button type="submit" class="submitbutton hvr-bob"><span class="buttonleftfont oswald-font">Register</span> <i class="fa fa-chevron-circle-right fa-2x"></i></button></center>
          </form>
          <!-- -->
        <p>Already have an account? <a href="{% url 'main:login' %}">Login</a></p>
      </div>
      {% endif %}
<!--
  <div class="wow fadeInUp mainbox">
    <i class="fa fa-asterisk fa-4x fa-border orange-text leftbox" aria-hidden="true"></i>
    <h1 class="title">Link your accounts to one place</h1>
    <p>Have your many online accounts accessible from one single page.
    </p>
  </div>

  <div class="wow fadeInUp mainbox">
    <i class="fa fa-info-circle fa-4x fa-border orange-text leftbox" aria-hidden="true"></i>
    <h1 class="title">Include your details</h1>
    <p>Include your account credentials and descriptions to let others know where to find you.</p>
  </div>

  <div class="wow fadeInUp mainbox">
    <i class="fa fa-users fa-4x fa-border orange-text leftbox" aria-hidden="true"></i>
    <h1 class="title">Connect with others</h1>
    <p>Connect with your peers. Present your information differently to strangers, to your friends and to yourself.</p>
  </div>
-->
</div>
</div>
{% endblock %}

{% block contentclass %} hidden{% endblock %}
