{% extends 'main/base.html' %}

{% block header %}
{% if request.session.login_id %}
  <div class="header-leftbar">
    <img src="/media/{{ user.profileImg }}" class="profileImg">
    Hi, <a href="{% url 'user:index' %}">{{ user.username }}</a>
  </div><div class="header-rightbar">
  <form action="{% url 'user:searchuser' %}" method="get">
    <input type="text" name="user_name" placeholder="Search a user..." />
    <button class="fa fa-search submitbutton white-search hvr-grow" type="submit"></button>
  </form>
  <a href="{% url 'user:notifications' %}" title="Notifications">Notifications {% if notifNum != 0 %}({{ notifNum }}){% endif %}</a> |
  <a href="{% url 'user:settings' %}" title="Settings">Settings</a> |
  <a href="{% url 'user:logout' %}" title="Logout">Logout</a>
  </div>
{% else %}
<div class="header-rightbar">
  <form action="{% url 'user:searchuser' %}" method="get">
    <input type="text" name="user_name" placeholder="Search a user..." />
    <button class="fa fa-search submitbutton white-search hvr-grow" type="submit"></button>
  </form>
  <a href="{% url 'main:register' %}">Register</a> | <a href="{% url 'main:login' %}">Login</a>
</div>
{% endif %}
{% endblock %}
