{% extends 'main/layout.html' %}

{% block title %}Login {% endblock %}

{% block content %}
<p>Hi from login </p>
<a href="{% url 'main:index' %}">Index</a>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'main:loginauth' %}" method="post">
    {% csrf_token %}
        <input type="text" maxlength="50" name="username" placeholder="username or email"/>
        <input type="text" maxlength="50" name="password" placeholder="password"/>
    <input type="submit" value="Add" />
    </form>
{% endblock %}
